import React from 'react'

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FunctionComponent<{{pascalCase name}}Props> = () => {
  return (
    <div>
      <h1>{{name}}</h1>
    </div>
  );
}

export default {{pascalCase name}};
